.form_modal {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10000;
  position: absolute;
  visibility: visible;
  align-items: flex-end;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);

  .container {
    width: 400px;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #fff;

    .header {
      width: 100%;
      height: 64px;
      display: flex;
      padding: 0px 12px;
      align-items: center;
      flex-direction: row;
      box-sizing: border-box;
      justify-content: space-between;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

      .title {
        font-size: 24px;
        font-weight: 600;
      }

      .close {
        width: 48px;
        height: 48px;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        background-color: #f5f5ff;
      }

      .close:hover {
        background-color: #f5f5ff;
      }

      .close:active {
        background-color: #e5e5ee;
      }
    }

    .main {
      flex: 1;
      gap: 24px;
      width: 100%;
      display: flex;
      padding: 12px 12px;
      padding-top: 24px;
      box-sizing: border-box;
      overflow-y: scroll;
      overflow-x: hidden;
      box-sizing: border-box;
      flex-direction: column;
      scroll-behavior: smooth;
    }

    .main::-webkit-scrollbar {
      width: 0px;
    }

    .footer {
      gap: 8px;
      width: 100%;
      display: flex;
      padding: 12px 12px;
      box-sizing: border-box;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0px -4px 32px rgba(0, 0, 0, 0.25);
    }
  }
}

.is_hidden {
  opacity: 0;
  visibility: hidden;
  transition: 100ms ease 250ms;

  .container {
    opacity: 0;
    transition: 250ms ease;
    transform: translateX(400px);
    transform-origin: right bottom;
  }
}

.is_visible {
  opacity: 1;
  visibility: visible;
  transition: 100ms ease;

  .container {
    opacity: 1;
    transition: 250ms ease;
    transform: translateX(0px);
  }
}

@media Only screen And (max-width: 650px) {
  .form_modal {
    .container {
      width: 100%;
    }
  }
}
