:root {
  --primary-color: #8338EC;
  --primary-color-trans-100: #8338EC30;
  --primary-color-trans-200: #8338EC60;
  --primary-color-trans-300: #8338EC90;
  --primary-color-light-100: #9E47DC;
  --primary-color-light-200: #B747DC;
  --primary-color-light-300: #CF47DC;
  --primary-color-dark-100: #6B45DE;
  --primary-color-dark-200: #5347DC;
  --primary-color-dark-300: #4753DC;
}
